modules = ["nodejs-20", "web", "python-3.11", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "cloudrun"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33175
externalPort = 9000

[[ports]]
localPort = 33345
externalPort = 3003

[[ports]]
localPort = 33709
externalPort = 8099

[[ports]]
localPort = 34999
externalPort = 4200

[[ports]]
localPort = 35593
externalPort = 3002

[[ports]]
localPort = 36639
externalPort = 5000

[[ports]]
localPort = 37053
externalPort = 8008

[[ports]]
localPort = 37103
externalPort = 3001

[[ports]]
localPort = 37119
externalPort = 6800

[[ports]]
localPort = 37669
externalPort = 6000

[[ports]]
localPort = 39047
externalPort = 5173

[[ports]]
localPort = 43557
externalPort = 8080

[[ports]]
localPort = 44515
externalPort = 8081

[[ports]]
localPort = 45245
externalPort = 3000

[[ports]]
localPort = 45815
externalPort = 8000

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_anthropic_ai_integrations:1.0.0"]
